* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', serif;
}

img{
    border-radius: 20px;
    max-height: 100%;
}
.hijo > a{
    text-decoration: none;
    color: white;
    font-family: "Orbitron";
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

a:visited{
    color: white;
}

.grilla {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "messi messi    recorrido  indumentaria    titulos"
    "messi messi    familia    estadisticas    apariciones"
    ;
    
}

.messi{
    grid-area: messi;
    background-image: url(../img/logo-messi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.recorrido{
    grid-area: recorrido;
    background-image: url(../img/recorrido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.indumentaria{
    grid-area: indumentaria;
    background-image: url(../img/indumentaria.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.titulos{
    grid-area: titulos;
    background-image: url(../img/titulos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.familia{
    grid-area: familia;
    background-image: url(../img/familia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.estadisticas{
    grid-area: estadisticas;
    background-image: url(../img/estadisticas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.apariciones{
    grid-area:apariciones;
    background-image: url(../img/apariciones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


.nav {
    background-color: rgba(0, 174, 255, 0.842);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a> img {
    max-height: 100px;
    max-width: 100px;
}

.header  a {
     font-size: 1.5rem;
     color: white;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    justify-content:start;
    gap: 2rem;
    text-decoration:none;
    font-size: .5rem;
}

.menu-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;

}


.hero{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.hero-left{
    display: flex;
    padding: 1rem;
    flex: 4;
}
.hero-rigth{
    padding: 2rem;
    flex: .5;
}
.hero-title{
    color: white;
}
.hero-sub-title{
    margin: 1rem;
    color: white;
}
.hero-text{
    margin: 1rem;
    color: white;
}

.dir-rev{
    flex-direction: row-reverse;
}


.nob-fondo{
    background-color: green;
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.733) 50%, rgb(0, 0, 0) 50%);
}

.bar-fondo {
    background-color: green;
    background-image: linear-gradient(
      to right,
      rgba(255, 0, 0, 0.692) 0%,
      rgba(255, 0, 0, 0.692) 10%,
      rgba(0, 0, 255, 0.781) 10%,
      rgba(0, 0, 255, 0.781) 20%,
      rgba(255, 0, 0, 0.692) 20%,
      rgba(255, 0, 0, 0.692) 30%,
      rgba(0, 0, 255, 0.781) 30%,
      rgba(0, 0, 255, 0.781) 40%,
      rgba(255, 0, 0, 0.692) 40%,
      rgba(255, 0, 0, 0.692) 50%,
      rgba(0, 0, 255, 0.781) 50%,
      rgba(0, 0, 255, 0.781) 60%,
      rgba(255, 0, 0, 0.692) 60%,
      rgba(255, 0, 0, 0.692) 70%,
      rgba(0, 0, 255, 0.781) 70%,
      rgba(0, 0, 255, 0.781) 80%,
      rgba(255, 0, 0, 0.692) 80%,
      rgba(255, 0, 0, 0.692) 90%,
      rgba(0, 0, 255, 0.781) 90%,
      rgba(0, 0, 255, 0.781) 100%);
  }


.psg-fondo{
    background-color: green;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 255, 0.705)  0%,
      rgba(0, 0, 255, 0.705)  40%,
      rgba(255, 255, 255, 0.795) 40%,
      rgba(255, 255, 255, 0.795)  42%,
      rgba(255, 0, 0, 0.685) 42%,
      rgba(255, 0, 0, 0.685) 55%,
      rgba(255, 255, 255, 0.795)  55%,
      rgba(255, 255, 255, 0.795)  57%,
      rgba(0, 0, 255, 0.705) 57%,
      rgba(0, 0, 255, 0.705) 100%);
}

.interm-fondo{
    background-color: green;
    background-image: linear-gradient(
        to right,
        rgb(255, 192, 203) 0%,
        rgb(255, 192, 203) 100%);
}

.arg-fondo{
    background-color: green;
    background-image: linear-gradient(
      to right,
      rgb(255, 255, 255) 0%,
      rgb(255, 255, 255) 10%,
      rgb(93, 209, 255) 10%,
      rgb(93, 209, 255) 20%,
      rgb(255, 255, 255) 20%,
      rgb(255, 255, 255) 30%,
      rgb(93, 209, 255) 30%,
      rgb(93, 209, 255) 40%,
      rgb(255, 255, 255) 40%,
      rgb(255, 255, 255) 50%,
      rgb(93, 209, 255) 50%,
      rgb(93, 209, 255) 60%,
      rgb(255, 255, 255) 60%,
      rgb(255, 255, 255) 70%,
      rgb(93, 209, 255) 70%,
      rgb(93, 209, 255) 80%,
      rgb(255, 255, 255) 80%,
      rgb(255, 255, 255) 90%,
      rgb(93, 209, 255) 90%,
      rgb(93, 209, 255) 100%);
}

.dark  {
    color: black;
}


.footer {
    display: flex;
    padding: 3rem;
    gap: 2rem;
    background-color: #252525;
    color: white;
}

.footer a {
    color: white;
}

.footer-1, .footer-2, .footer-3, .footer-4 {
    flex: 1;
}

.footer-4 > ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items:end;
}

@media (max-width: 950px) {
    

    .grilla{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr;

        grid-template-areas: 
        "messi messi"   
        "recorrido indumentaria"
        "titulos familia"
        "estadisticas apariciones"; 
    }
    
}

@media (max-width : 315px) {

    .grilla{
        display: flex;
        flex-direction: column;
    }

    .hijo{
        flex-grow: 1;
    }

    .logo{
        flex-grow: 2;
    }
}