* {
    margin: 0;
    padding: 0;
   
    box-sizing: border-box;
    
}

.hijo > a{
    text-decoration: none;
    color: white;
    font-family: "Orbitron";
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

a:visited{
    color: white;
}

.grilla {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    "messi messi    recorrido  indumentaria    titulos"
    "messi messi    familia    estadisticas    apariciones"
    ;
    
}

.messi{
    grid-area: messi;
    background-image: url(../img/logo-messi.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.recorrido{
    grid-area: recorrido;
    background-image: url(../img/recorrido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.indumentaria{
    grid-area: indumentaria;
    background-image: url(../img/indumentaria.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.titulos{
    grid-area: titulos;
    background-image: url(../img/titulos.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.familia{
    grid-area: familia;
    background-image: url(../img/familia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.estadisticas{
    grid-area: estadisticas;
    background-image: url(../img/estadisticas.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.apariciones{
    grid-area:apariciones;
    background-image: url(../img/apariciones.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

@media (max-width: 950px) {
    

    .grilla{
        grid-template-columns: 1fr 1fr; 
        /* esta parte rompe, no entiendo bien porque */
        grid-template-rows: 1fr 1fr 1fr 1fr;

        grid-template-areas: 
        "messi messi"   
        "recorrido indumentaria"
        "titulos familia"
        "estadisticas apariciones"; 
    }
    
}

@media (max-width : 315px) {

    .grilla{
        display: flex;
        flex-direction: column;
    }

    .hijo{
        flex-grow: 1;
    }

    .logo{
        flex-grow: 2;
    }
}