.carousel-item img {
    max-width: 100%; /* Ajusta según sea necesario */
    max-height: 300px; /* Ajusta según sea necesario */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

@media (max-width: 306px) {
    .carousel-item {
        max-height: 200px;
    }
}