.contenedor-foto{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}

@media (max-width :690px) {
    .contenedor-foto{
        flex-direction: column;
    }
}