.footer {
    flex-shrink: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 3rem;
    gap: 2rem;
    background-color: $oscuro;
    color: $claro;
    .footer a {
        color: $claro;
    }
    
    .footer-1, .footer-2, .footer-3, .footer-4 {
        flex: 1;
    }
    
    .footer-4 > ul {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        align-items:end;
    }
}

