* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', serif;
}

a> img {
    max-height: 100px;
    max-width: 100px;
}

a{
    color: $claro;
}

a:visited{
    color: $claro;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Establece la altura mínima de la ventana gráfica */
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    max-width: 100%;
    overflow-x: hidden;
}

ol, ul{
    list-style-type: none;
}