* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Patua One', serif;
}

a> img {
    max-height: 100px;
    max-width: 100px;
}

a{
    color: $claro;
}

a:visited{
    color: $claro;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0; 
    max-width: 100%;
    overflow-x: hidden;
}

ol, ul{
    list-style-type: none;
}

.encabezado{
    background-color: $oscuro;
    text-align: center;
    color: $claro;
    margin-bottom: 0;
}