.trofeos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
    text-decoration:none;
    padding: 2rem;
    justify-content: center;

        
    .foto-trofeo{
        max-height: 100%;
        max-width: 100%;
        padding: 0, 1rem ;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 20px;
    }

    .trofeo-name{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1.5rem;
        background-color: $nombre-trof;
        color: $oscuro;
        text-align: center;
        border-radius: 0 0 10px 10px;
        min-width: 200px;
        
    }

    .trofeo-fecha {
        display: flex;
        flex-direction: column;
        font-size: 20px;
        margin-bottom: 5px;
        color: $claro;
        max-width: 300px;
        align-items: center;
    }

}
.card-trofeo {
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
    display: flex;
    border: solid $oscuro;
}

.card-trofeo .face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-trofeo .front {
    transform: rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}

.card-trofeo .front img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:contain;

}

.card-trofeo .back {
    transform: perspective(600px) rotateY(180deg);
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 10px #000;
}
.card-trofeo .back img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit:contain;

}

.card-trofeo:hover .front {
    transform: perspective(600px) rotateY(180deg);
}

.card-trofeo:hover .back {
    transform: perspective(600px) rotateY(360deg);
}



@media (max-width :435px) {
    .trofeos{
        flex-direction: row;
    }
}
@media (max-width :400px) {
    .card-trofeo{
        max-width: 200px;
    }
    .trofeo-name{
        max-width: 100%;
    }
    .trofeo-fecha{
        max-width: 100%
    }
}

@media (max-width :300px) {
    .card-trofeo{
        max-width: 150px;
    }

}
